  .row{
      display: flex;
  }
  
  .column {
    width: 50%;
    padding: 10 10 10 10;
  }

  #inactive{
    fill:gray;
  }

  #wake{
    fill:red;
  }

  #deep{
    fill:darkblue;
  }

  #light{
    fill:cyan;
  }

  #rem{
    fill:orange;
  }

  #unknown{
    fill:white;
  }

  @media screen and (max-width: 1600px) {
    .row{
        display: block;
    }
    .column {
      width: 100%;
    }
  }

  h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }