body { max-width: 1000px; margin: 0 auto; }
section { margin-bottom: 3rem; }
h1 { text-align: center; }
button { 
    padding: 0.5rem 1rem; 
    border-radius: 5px;
}
.hiddenBox {
    margin: 1rem 0;
    padding: 0.5rem 1rem; 
    width: 500px;
    background-color: aliceblue;
    border-radius: 10px; 
}