:root {
    --color-primary: #022c43;
    --color-secondary: #053f5e;
    --color-accent: #115173;
    --color-light: #ffd700;
    --color-font:#ffffff;

    background-color: var(--color-primary);
  }


#page_wrapper{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#icons a:hover img{
  filter: brightness(70%) sepia(100%) saturate(600%);

}

#icons img{
  width: 35px;
  transition:.4s;
}

/* Create a sticky/fixed navbar */
#navbar:before {
  content:"";
  background-color:var(--color-secondary);
  position: absolute;
  height: 100%;
  width: 4000px;
  left: -2000px;
  z-index: -1;
}
#navbar{
  width:100%;
  max-width: 1440px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  padding: 60px 10px;
  min-height:60px;
  transition: 0.4s;
  position: fixed;
  top: 0; 
  font-family: 'Courier New', Courier, monospace;
 }
  
  /* Style the navbar links */
  #navbar a {
    color: var(--color-font);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  /* Links on mouse-over */
  #navbar a:hover {
    text-decoration: underline;
  }
  
  /* Style the active/current link */
  #navbar a.active {
    color: var(--color-light);
    text-decoration: underline;
  }
  
  /* Display some links to the right */
  #navbar-right {
    padding-right: 2%;
  }

  #content{
    margin-left: auto;
    margin-right: auto;
    margin-top:120px;
    padding: 60px 20px;
    max-width: 1080px;
    font-family: 'Courier New', Courier, monospace;
    display:inline-block;
    color:var(--color-font);
  }

  #content h1{
    
    font-size:60px;
  }
  
  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }

