/*Joe Gildner
CSCI 202
Self Portrait
*/

.roomgrid {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
}

#reflect{
    grid-row:3;
    grid-column:2;
    transform: translateY(50%);
 }
 
 #reflect p{
     justify-self: center;
     align-self: end;
 }

#door{
    grid-row: 1;
    grid-column: 2;
    transform: rotate3d(-4, 2, 0, 20deg) skewY(-4deg) translateY(3%);
}

#door img{
    width:30%;
    position: relative;
    
}

#window{
    width:30%;
    height:85%;
    grid-row: 1;
    grid-column: 3;
    transform: skewY(4deg) translate(3%);
    background-color:white;
    
}

#window img{
    width:110%;
    position: relative;
    transform:translate(-2%, -2%);
    
}

#window2{
    grid-row: 1;
    grid-column: 3;
    transform: skewY(4deg) translate(153%, 0%);
    width:33%;
    height:90%;
    grid-row: 1;
    grid-column: 3;
    background-color:white;
}

#window2 img{
    width:110%;
    position: relative;
    transform:translate(-2%, -4%);   
}

#wall{
    width:240%;
    height:100%;
    border-right: solid black;
    background-color:red;
    grid-column: 1/2;
    grid-row: 1/3;
    border-width: 2px;
    transform: skewY(-5deg) translate(-20%,-20%);
}

#floor{
    width:160%;
    height:120%;
    border-top: solid black;
    background-color:blue;
    grid-column: 1/3;
    grid-row: 2;
    transform: rotate(-5deg) translate(-5%,40%) skewX(75deg);
    border-width: 2px;
}

#wall2{
    width:150%;
    height:210%;
    border-bottom: solid black;
    border-left:solid black;
    background-color:yellow;
    grid-column: 3;
    grid-row: 1;
    border-width: 2px;
    transform: rotate(10deg) translate(-9%,-18%) skewX(10deg);
}



#piano{
    grid-row: 2;
    grid-column: 1;
    transform:translate(0%,-70%);
}

#piano img{
    width:100%;
    position: relative;
}

#couch{
    grid-row: 2;
    grid-column: 3;
    
    transform:skewY(5deg) translate(-40%,0%);
}

#couch img{
    width:120%;
    position: relative;
}

.keygrid {
    display: grid;
    height:100px;
    margin-top:50px;
    grid-template-rows: 100%;
    grid-template-columns: 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76% 4.76%;
    border: solid black;
    border-width: 1px;
    border-right: none;
}

.whitekey{
    position:relative;
    border-right: solid black;
    border-width: 1px;
}

.blackkey{
    position: relative;
    height:62.5%;
    width:75%;
    margin-left:62.5%;
    background-color:black;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1em;
}

body.paper{
    max-width: 720px;
}